<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.camilladsp.launch</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>/Users/nikhil/camilladsp-local/runbkgd.sh</string>
  </array>

  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ProcessType</key><string>Interactive</string>
  <key>Nice</key><integer>-10</integer>

  <key>StandardOutPath</key><string>/Users/nikhil/camilladsp-local/logs/stdout.launchd.log</string>
  <key>StandardErrorPath</key><string>/Users/nikhil/camilladsp-local/logs/stderr.launchd.log</string>
  <key>WorkingDirectory</key><string>/Users/nikhil/camilladsp-local</string>
</dict></plist>
